<section id="about" class="body-content" [@simpleFadeAnimation]="'in'">
  <div class="container">
    <div class="column is-one-fifth">
      <figure class="image">
        <img class="is-rounded" src="assets/images/profile.jpg">
      </figure>
    </div>
    <div class="columns" style="padding-right:10px">
      <div class="column is-two-fifths"></div>
      <div class="column is-two-fifths">
        <p id="about-text">I'm Sam — a Sacramento-based software engineer with a passion for web development, digital art, and game development. Check out some of my past and current projects <a routerLink="../projects">here</a>.
        </p>
      </div>
    </div>
  </div>
</section>