<section id="about" class="body-content" [@simpleFadeAnimation]="'in'">
  <div class="container">
    <div class="columns underline is-italic">
      <div class="column is-three-quarters">
        <h3 class="subtitle">About Me</h3>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">
        <figure class="image">
          <img class="is-rounded" src="assets/images/profile.jpg">
        </figure>
      </div>
      <div class="column is-two-fifths">
        <p style="border-bottom: 3px solid black; border-left: 3px solid black; padding: 10px">I'm Sam - a software engineer with a passion for web development, digital art, and game development.

          Check out some of my past and current projects
          <a routerLink="../projects">here</a>.
        </p>
      </div>
    </div>
  </div>
</section>