<footer class="footer">
  <div class="content" id="footer-content">
    <div class="columns has-text-centered is-centered">
      <div class="column is-one-third footer-icon is-dark">
        <a href="https://www.instagram.com/srcwaters/" target="_blank"><img src="assets/images/instagram.png" alt="Instagram: @srcwaters"></a>
      </div>
      <div class="column is-one-third footer-icon">
        <a href="https://github.com/samrcwaters" target="_blank"><img id="github-img" src="assets/images/github.png" alt="Github: @samrcwaters"></a>
      </div>
      <div class="column is-one-third footer-icon">
        <a href="https://www.linkedin.com/in/samuel-waters-4509a1115/" target="_blank"><img class='footer-icon-img' src="assets/images/linkedin.png" alt="Linkedin: Samuel Waters"></a>
      </div>
      </div>
  </div>
</footer>