#logo {
  max-width: 60%;
  text-align: right;
  font-size: 300%;
  border-right: 12px solid red;
}

@media only screen and (min-width: 487px) {
  #logo {
    max-width: 40%;
  }
}

@media only screen and (min-width: 730px) {
  #logo {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  #logo {
    max-width: 60%;
  }
}

.navbar-end a:hover {
  border-bottom: 12px solid red;
  margin-bottom: -12px;
}