<nav class="navbar" role="navigation" id="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/images/srcw.svg">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <em class="navbar-item"><strong>Sam Waters</strong></em>
      <a class="navbar-item" routerLink="../about">About Me</a>
      <a class="navbar-item" routerLink="../projects">Projects</a>
      <a class="navbar-item" routerLink="../experience">Experience</a>
    </div>
  </div>
</nav>