<nav class="navbar" role="navigation" id="navbar">
  <div class="navbar-brand">
    sam waters
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <!-- <p style="border-bottom: 3px solid black; border-left: 3px solid black; padding: 10px">I'm Sam — a Sacramento-based software engineer with a passion for web development, digital art, and game development.

          Check out some of my past and current projects
          <a routerLink="../projects">here</a>.
      </p> -->
    </div>
    <div class="navbar-end">
      <a class="navbar-item" routerLink="../">about</a>
      <a class="navbar-item" routerLink="../projects">projects</a>
      <a class="navbar-item" routerLink="../experience">experience</a>
    </div>
  </div>
</nav>