<nav class="navbar" role="navigation" id="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" id="logo">
      <h1>sam waters</h1>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="portfolioNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="portfolioNav">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="../">about</a>
      <a class="navbar-item" routerLink="../projects">projects</a>
      <a class="navbar-item" routerLink="../experience">experience</a>
    </div>
  </div>
</nav>