<section class="hero is-info is-medium" id="hero" [@simpleFadeAnimation]="'in'">
  <div class="hero-body" id="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Sam Waters</h1>
      <h2 class="subtitle">Software Developer • Sacramento, CA</h2>
      <img id='logo' src="assets/images/srcw.svg">
      <hr>
      <div class="columns" id="navColumns">
        <div class="column"></div>
        <div class="column"><a routerLink="about">About Me</a></div>
        <div class="column"><a routerLink="projects">Projects</a></div>
        <div class="column"><a routerLink="experience">Experience</a></div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>