<section id="experience" class="body-content" [@simpleFadeAnimation]="'in'">
  <div class="columns">
    <div class="column">
      <app-projectcard
        [imgSrc]="'assets/images/ecointeractive.png'"
        [title]="'EcoInteractive'"
        subtitle="Software Developer<br>July 2019 - Present<br>Davis, CA"
        description='<ul>
            <li>Completed enhancements and bugfixes on a multi-tenant web application used by government agencies in management of infrastructure and transportation projects.</li>           
            <li>Frequently led discussions and carried out code-first implementation of data models</li>
            <li>Utilized the following development tools:
              <ul>
                <li>Current stack: React, TypeScript, C#, .NET Core, EF Core, PostgreSQL, Docker, AWS</li>
                <li>Legacy stack: ASP Classic, JavaScript, JQuery, Oracle, PowerShell, IIS</li>
              </ul>
            </li>
          </ul>'
        >
      </app-projectcard>
    </div>
    <div class="column">
      <app-projectcard
        [imgSrc]="'assets/images/plantsciences.png'"
        [title]="'UC Davis'"
        subtitle="Junior Web Developer<br>October 2018 - July 2019<br>Davis, CA"
        description='<ul>
            <li>Migrated legacy ASP.NET university administrator web app to a .NET core MVC solution.</li>
            <li>Adhered to design guidelines and client specifications to create websites for staff using Drupal.</li>
            <li>Associated technologies: HTML, CSS, JavaScript, JQuery, Bootstrap, SQL Server, .NET, MVC.</li>
          </ul>'
      ></app-projectcard>
    </div>
    <div class="column">
      <app-projectcard
        [imgSrc]="'assets/images/powerschool.png'"
        [title]="'Powerschool'"
        subtitle="Software Engineering Intern<br>June 2018 - Sep. 2018<br>Chico, CA"
        description='<ul>
              <li>Assisted in enhancing and maintaining PowerSchool’s accounting software, BusinessPlus. Worked on a team of 5 in an Agile/Scrum development cycle.</li>
              <li>Project and Tasks:
                <ul>
                  <li>UI redesign (SASS/LESS/Kendo Framework)</li>
                  <li>General functionality improvements (Angular 4, RxJS, C#, C++)</li>
                  <li>Front-end unit testing (Java, Selenide Testing Framework)</li>
                </ul>
              </li>
            </ul>'
      ></app-projectcard>
    </div>
    <div class="column">
      <app-projectcard
        [imgSrc]="'assets/images/renlylogo.png'"
        [title]="'Renly'"
        subtitle="Web Development Intern<br>June 2017 - Sep. 2017<br>Carson, CA"
        description='<ul>
              <li>Assisted in enhancing and maintaining PowerSchool’s accounting software, BusinessPlus. Worked on a team of 5 in an Agile/Scrum development cycle.</li>
              <li>Project and Tasks:
                <ul>
                  <li>UI redesign (SASS/LESS/Kendo Framework)</li>
                  <li>General functionality improvements (Angular 4, RxJS, C#, C++)</li>
                  <li>Front-end unit testing (Java, Selenide Testing Framework)</li>
                </ul>
              </li>
            </ul>'
      ></app-projectcard>
    </div>
  </div>
</section>